<h1>Edit Task</h1>
<p>
    <strong>Name:</strong>
    <%= @task.name %>
</p>

<p>
    <strong>Info:</strong>
    <%= @task.info %>
</p>

<p>
    <strong>Category:</strong>
    <%= @task.category %>
</p>

<p>
    <strong>Location:</strong>
    <%= @task.location %>
</p>

<p>
    <strong>Duration:</strong>
    <%= @task.duration %>
</p>

<%= link_to 'Save', task, method: :patch %>
