<h1>New Task</h1>

<%= form_for :task, url: tasks_path do |f| %>
    <p>
	<%= f.label :name %><br>
	<%= f.text_field :name %>
    </p>
    
    <p>
	<%= f.label :duration %><br>
	<%= f.number_field :duration %>
    </p>
    
    <p>
	<%= f.submit %>
    </p>
<% end %>
