<h1>Task Details</h1>
<p>
    <strong>Name:</strong>
    <%= @task.name %>
</p>

<p>
    <strong>Info:</strong>
    <%= @task.info %>
</p>

<p>
    <strong>Category:</strong>
    <%= @task.category %>
</p>

<p>
    <strong>Location:</strong>
    <%= @task.location %>
</p>

<p>
    <strong>Duration:</strong>
    <%= @task.duration %>
</p>

<% if current_user=@creator %>
<%= link_to 'Edit', edit_task_path %>
<%= link_to 'Delete', @task, method: :delete, data: { confirm: 'Are you sure?' } %>
<% else %>
<%= form_for @task, url: { action: "apply" } do |f| %>
<%= f.submit 'Apply for this task' %>
<% end %>
<% end %>
